{{#section 'css'}}
<link rel="stylesheet" href="../../public/css/report.css" />
{{/section}}

{{#section 'js'}}
<script src="../../public/js/listRequest.js"></script>
{{/section}}

<div class="container-fluid">
    <h5 class="card-title fw-semibold fs-5 d-flex justify-content-center align-items-center">DANH SÁCH CÁC YÊU CẦU</h5>
    <div class="d-flex justify-content-center">
        {{!-- <div class="col-md-1"></div> --}}
        {{!-- <div class="col-md-10"> --}}
            {{!-- <div class="row"> --}}
        <div class="card me-3 ms-5">
                <div class="card-body">
                    <h5 class="card-title fw-semibold" id="tableName">
                        <img src="public/assets/icons/AdsBoard_icon.svg" alt="" width="24" height="24" />
                        Bảng quảng cáo
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" style="table-layout: fixed; width: 100%;">
                            <colgroup>
                                <col style="width: 5%">
                                <col style="width: 38%">
                                <col style="width: 12%">
                                <col style="width: 25%">
                                <col style="width: 20%">
                            </colgroup>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col"><div class="card-title fw-bold" >#</div></th>
                                    <th scope="col"><div class="card-title fw-bold" >Loại bảng quảng cáo</div></th>
                                    <th scope="col"><div class="card-title fw-bold" >Quận</div></th>
                                    <th scope="col"><div class="card-title fw-bold" >Trạng thái</div></th>
                                    <th scope="col"><div class="card-title fw-bold" >Thao tác</div></th>
                                </tr>
                            </thead>
                        </table>
                        <div class="table-body-container" style="height: 58vh; overflow-y: auto;">
                            <table class="table table-bordered table-hover text-center">
                                <colgroup>
                                    <col style="width: 5%">
                                    <col style="width: 38%">
                                    <col style="width: 12%">
                                    <col style="width: 25%">
                                    <col style="width: 20%">
                                </colgroup>
                                <tbody id="body">
                                {{#if adsBoardRequestedEditsEmpty}}
                                    <div class="card-body text-primary fw-semibold">Không có yêu cầu chỉnh sửa bảng quảng cáo</div>
                                {{else}}
                                {{#each adsBoardRequestedEdits as |adsBoardRequestedEdits index|}}
                                    <tr>
                                        <td class="border-bottom-0 text-center align-middle">
                                            <h6 class="fw-semibold mb-0">{{create_order index}}</h6>
                                        </td>
                                        <td class="border-bottom-0 text-center align-middle">
                                            <p class="mb-0 fw-semibold">{{adsObject.adsBoardType}}</p>
                                        </td>
                                        <td class="border-bottom-0 text-center align-middle">
                                            <p class="mb-0 fw-normal">{{wardAndDistrict.district}}</p>
                                        </td>
                                        {{#ifCond requestApprovalStatus '===' 'Đã được duyệt'}}
                                            <td class="border-bottom-0 text-center align-middle">
                                                <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                                    <span class="badge bg-success rounded-3 fw-semibold">Đã được duyệt</span>
                                                </div>
                                            </td>
                                        {{/ifCond}}
                                        {{#ifCond requestApprovalStatus '===' 'Chưa được duyệt'}}
                                            <td class="border-bottom-0 text-center align-middle">
                                                <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                                    <span class="badge bg-warning rounded-3 fw-semibold">Chưa được duyệt</span>
                                                </div>
                                            </td>
                                        {{/ifCond}}
                                        {{#ifCond requestApprovalStatus '===' 'Không được duyệt'}}
                                            <td class="border-bottom-0 text-center align-middle">
                                                <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                                    <span class="badge bg-danger rounded-3 fw-semibold">Không được duyệt</span>
                                                </div>
                                            </td>
                                        {{/ifCond}}
                                        <td class="border-bottom-0 align-middle">
                                            <button
                                                type="button"
                                                class="btn btn-primary m-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#detailAdsBoardRequestModal-{{_id}}">
                                                <img src="../../../public/assets/icons/Detail_&_Verify_icon.svg" alt="" width="24" height="24" />
                                            </button>
                                        </td>
                                    </tr>
                                    <div
                                        class='modal fade'
                                        id='detailAdsBoardRequestModal-{{_id}}'
                                        tabindex='-1'
                                        aria-labelledby='reportModalLabel'
                                        aria-hidden='true'
                                    >
                                        <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
                                            <div class='modal-content'>
                                                <div class='modal-header'>
                                                    <h5 class='modal-detail-title' id='reportModalLabel'>Thông tin cập nhật</h5>
                                                    <button
                                                        type='button'
                                                        class='btn-close'
                                                        data-bs-dismiss='modal'
                                                        aria-label='Close'
                                                    ></button>
                                                </div>
                                                <div class='modal-detail-body'>
                                                    <form id='detailAdsBoardRequestForm' data-id={{_id}} enctype='multipart/form-data'>
                                                        <div class='mb-3 d-grid gap-2 me-2 ms-2 mt-2'>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Loại bảng quảng cáo</h5>
                                                                    {{#ifCond adsObject.adsBoardType '!==' newInfo.adsBoardType}}
                                                                        <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.adsBoardType}}</p>
                                                                        <p class='mb-0 text-danger fw-semibold'>{{newInfo.adsBoardType}}</p>
                                                                    {{else}}
                                                                        <p class='mb-0'>{{newInfo.adsBoardType}}</p>
                                                                    {{/ifCond}}
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Địa chỉ</h5>
                                                                        <p class='mb-0'>{{adsObject.adsPoint.location.address}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row gx-2">
                                                                <div class='col-md-6'>
                                                                    <div class='card border'>
                                                                        <div class='card-body'>
                                                                            <h5 class='card-title fw-semibold mb-4'>Quận</h5>
                                                                            {{#ifCond adsObject.adsPoint.location.district '!==' newInfo.adsPoint.location.district}}
                                                                            <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.adsPoint.location.district}}</p>
                                                                            <p class='mb-0 text-danger fw-semibold'>{{newInfo.adsPoint.location.district}}</p>
                                                                            {{else}}
                                                                                <p class='mb-0'>{{newInfo.adsPoint.location.district}}</p>
                                                                            {{/ifCond}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class='col-md-6'>
                                                                    <div class='card border'>
                                                                        <div class='card-body'>
                                                                            <h5 class='card-title fw-semibold mb-4'>Phường</h5>
                                                                            {{#ifCond adsObject.adsPoint.location.ward '!==' newInfo.adsPoint.location.ward}}
                                                                            <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.adsPoint.location.ward}}</p>
                                                                            <p class='mb-0 text-danger fw-semibold'>{{newInfo.adsPoint.location.ward}}</p>
                                                                            {{else}}
                                                                                <p class='mb-0'>{{newInfo.adsPoint.location.ward}}</p>
                                                                            {{/ifCond}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row gx-2">
                                                                <div class='col-md-4'>
                                                                    <div class='card border'>
                                                                        <div class='card-body'>
                                                                            <h5 class='card-title fw-semibold mb-4'>Chiều cao</h5>
                                                                            {{#ifCond adsObject.size.height '!==' newInfo.size.height}}
                                                                            <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.size.height}}</p>
                                                                            <p class='mb-0 text-danger fw-semibold'>{{newInfo.size.height}}</p>
                                                                            {{else}}
                                                                                <p class='mb-0'>{{newInfo.size.height}}</p>
                                                                            {{/ifCond}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class='col-md-4'>
                                                                    <div class='card border'>
                                                                        <div class='card-body'>
                                                                            <h5 class='card-title fw-semibold mb-4'>Chiều rộng</h5>
                                                                            {{#ifCond adsObject.size.width '!==' newInfo.size.width}}
                                                                            <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.size.width}}</p>
                                                                            <p class='mb-0 text-danger fw-semibold'>{{newInfo.size.width}}</p>
                                                                            {{else}}
                                                                                <p class='mb-0'>{{newInfo.size.width}}</p>
                                                                            {{/ifCond}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class='col-md-4'>
                                                                    <div class='card border'>
                                                                        <div class='card-body'>
                                                                            <h5 class='card-title fw-semibold mb-4'>Số lượng</h5>
                                                                            {{#ifCond adsObject.quantity '!==' newInfo.quantity}}
                                                                            <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.quantity}}</p>
                                                                            <p class='mb-0 text-danger fw-semibold'>{{newInfo.quantity}}</p>
                                                                            {{else}}
                                                                                <p class='mb-0'>{{newInfo.quantity}}</p>
                                                                            {{/ifCond}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Ngày hết hạn của hợp đồng quảng cáo</h5>
                                                                    {{#ifCond adsObject.contractEndDate '!==' newInfo.contractEndDate}}
                                                                        <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.contractEndDate}}</p>
                                                                        <p class='mb-0 text-danger fw-semibold'>{{newInfo.contractEndDate}}</p>
                                                                    {{else}}
                                                                        <p class='mb-0'>{{newInfo.contractEndDate}}</p>
                                                                    {{/ifCond}}
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold text-danger'>Hình cũ</h5>
                                                                    {{#each adsObject.adsBoardImages as |image|}}
                                                                    <img src="{{image}}" width="650" class="mb-2">
                                                                    {{/each}}
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold text-primary'>Hình mới</h5>
                                                                    {{#each newInfo.adsBoardImages as |image|}}
                                                                    <img src="{{image}}" width="650" class="mb-2">
                                                                    {{/each}}
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Thời điểm xin chỉnh sửa</h5>
                                                                    <p class='mb-0'>{{editRequestTime}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Lý do chỉnh sửa</h5>
                                                                    <p class='mb-0'>{{editReason}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Email</h5>
                                                                    <p class='mb-0'>{{officerEmail}}</p>
                                                                </div>
                                                            </div>
                                                            {{!-- <div class="d-flex justify-content-center mt-2">
                                                                <div class='d-grid col-md-3 mx-2'>
                                                                    <button
                                                                        id='noVerifyRequestEditAdsBoard'
                                                                        type='submit'
                                                                        class='btn btn-outline-danger btn-block'
                                                                        style='font-family: Inter'
                                                                    >
                                                                        KHÔNG DUYỆT
                                                                    </button>
                                                                </div> --}}
                                                                {{#ifCond requestApprovalStatus '===' 'Đã được duyệt'}}
                                                                {{else}}
                                                                <div class='d-grid gap-2 col-3 mx-auto'>
                                                                    <button
                                                                        id='verifyRequestEditAdsBoard'
                                                                        type='submit'
                                                                        class='btn btn-success'
                                                                        style='font-family: Inter'
                                                                    >
                                                                        DUYỆT
                                                                    </button>
                                                                </div>
                                                                {{/ifCond}}
                                                            {{!-- </div> --}}
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {{/each}}
                                {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div class="ms-1 me-1"></div> --}}
        <div class="card me-5">
                <div class="card-body">
                    <h5 class="card-title fw-semibold" id="tableName">
                        <img src="public/assets/icons/Location_Red.svg" alt="" width="24" height="24" />
                        Điểm quảng cáo
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" style="table-layout: fixed; width: 100%;">
                            <colgroup>
                                <col style="width: 5%">
                                <col style="width: 35%">
                                <col style="width: 10%">
                                <col style="width: 25%">
                                <col style="width: 15%">
                            </colgroup>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col"><div class="card-title fw-bold" >#</div></th>
                                    <th scope="col"><div class="card-title fw-bold" >Điểm quảng cáo</div></th>
                                    <th scope="col"><div class="card-title fw-bold" >Quận</div></th>
                                    <th scope="col"><div class="card-title fw-bold" >Trạng thái</div></th>
                                    <th scope="col"><div class="card-title fw-bold" >Thao tác</div></th>
                                </tr>
                            </thead>
                        </table>
                        <div class="table-body-container" style="height: 58vh; overflow-y: auto;">
                            <table class="table table-bordered table-hover text-center">
                                <colgroup>
                                    <col style="width: 5%">
                                    <col style="width: 35%">
                                    <col style="width: 10%">
                                    <col style="width: 25%">
                                    <col style="width: 15%">
                                </colgroup>
                            <tbody id="body">
                                {{#if adsPointRequestedEditsEmpty}}
                                    <div class="card-body text-primary fw-semibold">Không có yêu cầu chỉnh sửa điểm quảng cáo</div>
                                {{else}}
                                {{#each adsPointRequestedEdits as |adsPointRequestedEdits index|}}
                                <tr>
                                    <td class="border-bottom-0 text-center align-middle">
                                        <h6 class="fw-semibold mb-0">{{create_order index}}</h6>
                                    </td>
                                    <td class="border-bottom-0 text-center align-middle">
                                        <p class="mb-0 fw-semibold">{{adsObject.location.locationName}}</p>
                                    </td>
                                    <td class="border-bottom-0 text-center align-middle">
                                        <p class="mb-0 fw-normal">{{adsObject.location.district}}</p>
                                    </td>
                                    {{#ifCond requestApprovalStatus '===' 'Đã được duyệt'}}
                                        <td class="border-bottom-0 text-center align-middle">
                                            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                                <span class="badge bg-success rounded-3 fw-semibold">Đã được duyệt</span>
                                            </div>
                                        </td>
                                    {{/ifCond}}
                                    {{#ifCond requestApprovalStatus '===' 'Chưa được duyệt'}}
                                        <td class="border-bottom-0 text-center align-middle">
                                            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                                <span class="badge bg-warning rounded-3 fw-semibold">Chưa được duyệt</span>
                                            </div>
                                        </td>
                                    {{/ifCond}}
                                    {{#ifCond requestApprovalStatus '===' 'Không được duyệt'}}
                                        <td class="border-bottom-0 text-center align-middle">
                                            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                                <span class="badge bg-danger rounded-3 fw-semibold">Không được duyệt</span>
                                            </div>
                                        </td>
                                    {{/ifCond}}
                                    <td class="border-bottom-0 text-center align-middle">
                                        <button
                                            type="button"
                                            class="btn btn-primary m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#detailAdsPointRequestModal-{{_id}}">
                                            <img src="../../../public/assets/icons/Detail_&_Verify_icon.svg" alt="" width="24" height="24" />
                                        </button>
                                    </td>
                                </tr>
                                <div
                                    class='modal fade'
                                    id='detailAdsPointRequestModal-{{_id}}'
                                    tabindex='-1'
                                    aria-labelledby='reportModalLabel'
                                    aria-hidden='true'
                                >
                                    <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
                                        <div class='modal-content'>
                                            <div class='modal-header'>
                                                <h5 class='modal-detail-title' id='reportModalLabel'>Thông tin</h5>
                                                <button
                                                    type='button'
                                                    class='btn-close'
                                                    data-bs-dismiss='modal'
                                                    aria-label='Close'
                                                ></button>
                                            </div>
                                            <div class='modal-detail-body'>
                                                <form id='detailAdsPointRequestForm' data-id={{_id}} enctype='multipart/form-data'>
                                                    <div class='mb-3 d-grid gap-2 me-2 ms-2 mt-2'>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Điểm quảng cáo</h5>
                                                                {{#ifCond adsObject.location.locationName '!==' newInfo.locationName}}
                                                                    <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.location.locationName}}</p>
                                                                    <p class='mb-0 text-danger fw-semibold'>{{newInfo.locationName}}</p>
                                                                {{else}}
                                                                    <p class='mb-0'>{{newInfo.locationName}}</p>
                                                                {{/ifCond}}
                                                            </div>
                                                        </div>
                                                        <div class="row gx-2">
                                                            <div class='col-md-6'>
                                                                <div class='card border'>
                                                                    <div class='card-body'>
                                                                        <h5 class='card-title fw-semibold mb-4'>Quận</h5>
                                                                        {{#ifCond adsObject.location.district '!==' newInfo.district}}
                                                                        <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.location.district}}</p>
                                                                        <p class='mb-0 text-danger fw-semibold'>{{newInfo.district}}</p>
                                                                        {{else}}
                                                                            <p class='mb-0'>{{newInfo.district}}</p>
                                                                        {{/ifCond}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='col-md-6'>
                                                                <div class='card border'>
                                                                    <div class='card-body'>
                                                                        <h5 class='card-title fw-semibold mb-4'>Phường</h5>
                                                                        {{#ifCond adsObject.location.ward '!==' newInfo.ward}}
                                                                        <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.location.ward}}</p>
                                                                        <p class='mb-0 text-danger fw-semibold'>{{newInfo.ward}}</p>
                                                                        {{else}}
                                                                            <p class='mb-0'>{{newInfo.ward}}</p>
                                                                        {{/ifCond}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Địa chỉ chi tiết</h5>
                                                                {{#ifCond adsObject.location.address '!==' newInfo.address}}
                                                                    <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.location.address}}</p>
                                                                    <p class='mb-0 text-danger fw-semibold'>{{newInfo.address}}</p>
                                                                {{else}}
                                                                    <p class='mb-0'>{{newInfo.address}}</p>
                                                                {{/ifCond}}
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Loại vị trí</h5>
                                                                {{#ifCond adsObject.locationType '!==' newInfo.locationType}}
                                                                    <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.locationType}}</p>
                                                                    <p class='mb-0 text-danger fw-semibold'>{{newInfo.locationType}}</p>
                                                                {{else}}
                                                                    <p class='mb-0'>{{newInfo.locationType}}</p>
                                                                {{/ifCond}}
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Loại vị trí</h5>
                                                                {{#ifCond adsObject.adsFormat.name '!==' newInfo.adsFormat.name}}
                                                                    <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.adsFormat.name}}</p>
                                                                    <p class='mb-0 text-danger fw-semibold'>{{newInfo.adsFormat.name}}</p>
                                                                {{else}}
                                                                    <p class='mb-0'>{{newInfo.adsFormat.name}}</p>
                                                                {{/ifCond}}
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Trạng thái địa điểm</h5>
                                                                {{#ifCond adsObject.planningStatus '!==' newInfo.planningStatus}}
                                                                    <p class='mb-0 text-black-50 fw-normal text-decoration-line-through'>{{adsObject.planningStatus}}</p>
                                                                    <p class='mb-0 text-danger fw-semibold'>{{newInfo.planningStatus}}</p>
                                                                {{else}}
                                                                    <p class='mb-0'>{{newInfo.planningStatus}}</p>
                                                                {{/ifCond}}
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold text-danger'>Hình cũ</h5>
                                                                {{#each adsObject.locationImages as |image|}}
                                                                <img src="{{image}}" width="650" class="mb-2">
                                                                {{/each}}
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold text-primary'>Hình mới</h5>
                                                                {{#each newInfo.locationImages as |image|}}
                                                                <img src="{{image}}" width="650" class="mb-2">
                                                                {{/each}}
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold mb-4'>Thời điểm xin chỉnh sửa</h5>
                                                                <p class='mb-0'>{{editRequestTime}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold mb-4'>Lý do chỉnh sửa</h5>
                                                                <p class='mb-0'>{{editReason}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold mb-4'>Email</h5>
                                                                <p class='mb-0'>{{officerEmail}}</p>
                                                            </div>
                                                        </div>
                                                        {{!-- <div class="d-flex justify-content-center mt-2">
                                                            <div class='d-grid col-md-3 mx-2'>
                                                                <button
                                                                    id='noVerifyRequestEditAdsPoint'
                                                                    type='submit'
                                                                    class='btn btn-outline-danger btn-block'
                                                                    style='font-family: Inter'
                                                                >
                                                                    KHÔNG DUYỆT
                                                                </button>
                                                            </div> --}}
                                                            {{#ifCond requestApprovalStatus '===' 'Đã được duyệt'}}
                                                            <div></div>
                                                            {{else}}
                                                            <div class='d-grid gap-2 col-3 mx-auto'>
                                                                <button
                                                                    id='verifyRequestEditAdsPoint'
                                                                    type='submit'
                                                                    class='btn btn-success'
                                                                    style='font-family: Inter'
                                                                >
                                                                    DUYỆT
                                                                </button>
                                                            </div>
                                                            {{/ifCond}}
                                                        {{!-- </div> --}}
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                            {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        {{!-- </div> --}}
        {{!-- <div class="col-md-1"></div> --}}
    </div>
</div>

<title>Danh sách điểm quảng cáo</title>

{{!-- <div class="row px-5">
    <div class="col-md-1"></div>
    <div class="card col-md-5 me-5">Table1</div>
    <div class="card col-md-5 me-5">Table2</div>
    <div class="col-md-1"></div>
</div> --}}
