
{{#section 'css'}}
<link rel="stylesheet" href="../../../public/css/report.css" />
    <style>
        #buttonStyle {
            transition: filter 0.1s ease-in-out;
        }
        #buttonStyle:hover {
            filter: brightness(0) invert(1);
        }

        .btn-custom {
            font-family: Inter;
        }

        .table tbody tr td {
            vertical-align: middle;
        }

        .bg-blue th {
            background-color: #0066FF;
            color: white;
        }

        .table-container {
            overflow: hidden;
        }

        .table-container table {
            table-layout: fixed;
        }

        .table-body-container {
            overflow-y: auto;
            height: 300px;
        }

  </style>
{{/section}}

{{#section 'js'}}
<script src='../../public/js/listType.js'></script>
<script>
    $('#add-new-test').click(function (event) {
        $.get('/types/list').then(function (data) {
            $('#main').html(data);
        });
    });
</script>
{{/section}}

<div class="container-fluid mt-4" id="main">
    <div class="row">
        <div class="col-md-11 pb-4">
            <h5 class="card-title fw-bold mb-4">Quản lý phân loại</h5>

            <!-- Card 1: Các loại hình quảng cáo -->
            <div class="card mb-3 shadow-sm">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title fw-bold">
                            <img src="../../../public/assets/icons/List_icon.svg" alt="" width="24" height="24" class="me-2" />
                            Các loại hình quảng cáo
                        </h5>
                        <button type="button" class="btn btn-success btn-custom" data-bs-toggle="modal" data-bs-target="#addAdsTypeModal">
                            <img src="../../../public/assets/icons/Add_icon_white.svg" alt="" width="24" height="24" class="me-2" />
                            Thêm loại hình quảng cáo
                        </button>
                    </div>
                    <div class="table-container">
                        <table class="table table-bordered table-hover text-center" style="table-layout: fixed; width: 100%;">
                            <colgroup>
                                <col style="width: 5%">
                                <col style="width: 35%">
                                <col style="width: 20%">
                                <col style="width: 20%">
                                <col style="width: 20%">
                            </colgroup>
                            <thead class="table">
                                <tr>
                                    <th>#</th>
                                    <th>Tên loại hình quảng cáo</th>
                                    <th>Ngày tạo</th>
                                    <th>Ngày cập nhật mới nhất</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="table-body-container" style="height: 300px; overflow-y: auto;">
                            <table class="table table-bordered table-hover text-center" style="table-layout: fixed; width: 100%;">
                                <colgroup>
                                    <col style="width: 5%">
                                    <col style="width: 35%">
                                    <col style="width: 20%">
                                    <col style="width: 20%">
                                    <col style="width: 20%">
                                </colgroup>
                                <tbody id="adsFormat_body">
                                    {{#each this.adsFormats as |adsFormats index|}}
                                    <tr>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">{{create_order @index}}</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">{{name}}</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">{{format_date createdAt}}</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">{{format_date updatedAt}}</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <button
                                                type="button"
                                                class="btn btn-outline-warning m-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editAdsFormatTypeModal-{{index}}">
                                                <div id="buttonStyle">
                                                    <img src="../../../public/assets/icons/Edit_icon.svg" alt="" width="24" height="24" />
                                                    Chỉnh sửa
                                                </div>
                                            </button>
                                        </td>
                                    </tr>
                                    <div
                                        class='modal fade'
                                        id='editAdsFormatTypeModal-{{index}}'
                                        tabindex='-1'
                                        aria-labelledby='reportModalLabel-{{index}}'
                                        aria-hidden='true'
                                    >
                                        <div class='modal-dialog'>
                                            <div class='modal-content'>
                                                <div class='modal-header'>
                                                    <img
                                                        src='../../../public/assets/icons/Edit_icon_orange.svg'
                                                        style='height: 40px; width: 40px;'
                                                    />
                                                    <h5 class='modal-requestEdit-title' id='reportModalLabel'>
                                                        Chỉnh sửa thông tin
                                                    </h5>
                                                    <button
                                                        type='button'
                                                        class='btn-close'
                                                        data-bs-dismiss='modal'
                                                        aria-label='Close'
                                                    ></button>
                                                </div>
                                                <div class='modal-body'>
                                                    <form id='editAdsTypeForm' enctype='multipart/form-data' data-id="{{_id}}">
                                                        <div class='mb-3'>
                                                            <label for='adsFormatName' class='form-label' style='font-family: Inter;'>Loại hình quảng cáo</label>
                                                                <input
                                                                    type='text'
                                                                    class='form-control fullNameReport'
                                                                    id='edit_adsFormatName-{{_id}}'
                                                                    value="{{name}}"
                                                                    required
                                                                />
                                                        </div>
                                                        <div class='button-container justify-content-center'>
                                                            <div
                                                                id='recaptcha'
                                                                class='g-recaptcha'
                                                                data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                                                                data-callback='onSubmit'
                                                                data-size='invisible'
                                                            ></div>
                                                            <div class="d-flex justify-content-center">
                                                                <div class='d-grid col-md-3 mx-2'>
                                                                    <button
                                                                        id='deleteAdsTypeButton'
                                                                        type='submit'
                                                                        class='btn btn-outline-danger btn-block'
                                                                        style='font-family: Inter'
                                                                    >
                                                                        XÓA
                                                                    </button>
                                                                </div>
                                                                <div class='d-grid col-md-3 mx-2'>
                                                                    <button
                                                                        id='saveAdsTypeButton'
                                                                        type='submit'
                                                                        class='btn btn-success btn-block'
                                                                        style='font-family: Inter'
                                                                    >
                                                                        LƯU
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2: Các loại hình thức báo cáo -->
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title fw-bold">
                            <img src="../../../public/assets/icons/List_icon.svg" alt="" width="24" height="24" class="me-2" />
                            Các loại hình thức báo cáo
                        </h5>
                        <button type="button" class="btn btn-success btn-custom" data-bs-toggle="modal" data-bs-target="#addReportTypeModal">
                            <img src="../../../public/assets/icons/Add_icon_white.svg" alt="" width="24" height="24" class="me-2" />
                            Thêm hình thức báo cáo
                        </button>
                    </div>
                    <div class="table-container">
                        <table class="table table-bordered table-hover text-center" style="table-layout: fixed; width: 100%;">
                            <colgroup>
                                <col style="width: 5%">
                                <col style="width: 35%">
                                <col style="width: 20%">
                                <col style="width: 20%">
                                <col style="width: 20%">
                            </colgroup>
                            <thead class="table">
                                <tr>
                                    <th>#</th>
                                    <th>Tên hình thức báo cáo</th>
                                    <th>Ngày tạo</th>
                                    <th>Ngày cập nhật mới nhất</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="table-body-container" style="height: 300px; overflow-y: auto;">
                            <table class="table table-bordered table-hover text-center" style="table-layout: fixed; width: 100%;">
                                <colgroup>
                                    <col style="width: 5%">
                                    <col style="width: 35%">
                                    <col style="width: 20%">
                                    <col style="width: 20%">
                                    <col style="width: 20%">
                                </colgroup>
                                <tbody id="reportFormat_body">
                                    {{#each this.reportFormats as |reportFormats index|}}
                                    <tr>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">{{create_order @index}}</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">{{name}}</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">{{format_date createdAt}}</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">{{format_date updatedAt}}</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            <button
                                                type="button"
                                                class="btn btn-outline-warning m-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editReportTypeModal-{{index}}">
                                                <div id="buttonStyle">
                                                    <img src="../../../public/assets/icons/Edit_icon.svg" alt="" width="24" height="24" />
                                                    Chỉnh sửa
                                                </div>
                                            </button>
                                        </td>
                                    </tr>
                                    <div
                                        class='modal fade'
                                        id='editReportTypeModal-{{index}}'
                                        tabindex='-1'
                                        aria-labelledby='reportModalLabel'
                                        aria-hidden='true'
                                    >
                                        <div class='modal-dialog'>
                                            <div class='modal-content'>
                                                <div class='modal-header'>
                                                    <img
                                                        src='../../../public/assets/icons/Edit_icon_orange.svg'
                                                        style='height: 40px; width: 40px;'
                                                    />
                                                    <h5 class='modal-requestEdit-title' id='reportModalLabel'>
                                                        Chỉnh sửa thông tin
                                                    </h5>
                                                    <button
                                                        type='button'
                                                        class='btn-close'
                                                        data-bs-dismiss='modal'
                                                        aria-label='Close'
                                                    ></button>
                                                </div>
                                                <div class='modal-body'>
                                                    <form id='editReportTypeForm' enctype='multipart/form-data' data-id="{{_id}}">
                                                        <div class='mb-3'>
                                                            <label for='reportFormatName' class='form-label' style='font-family: Inter;'>Hình thức báo cáo</label>
                                                            <input
                                                                type='text'
                                                                class='form-control fullNameReport'
                                                                id='edit_reportFormatName_{{_id}}'
                                                                value="{{name}}"
                                                                required
                                                            />
                                                        </div>
                                                        <div class='button-container justify-content-center'>
                                                            <div
                                                                id='recaptcha'
                                                                class='g-recaptcha'
                                                                data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                                                                data-callback='onSubmit'
                                                                data-size='invisible'
                                                            ></div>
                                                            <div class="d-flex justify-content-center">
                                                                <div class='d-grid col-md-3 mx-2'>
                                                                    <button
                                                                        id='deleteReportTypeButton'
                                                                        type='submit'
                                                                        class='btn btn-outline-danger btn-block'
                                                                        style='font-family: Inter'
                                                                    >
                                                                        XÓA
                                                                    </button>
                                                                </div>
                                                                <div class='d-grid col-md-3 mx-2'>
                                                                    <button
                                                                        id='saveReportTypeButton'
                                                                        type='submit'
                                                                        class='btn btn-success btn-block'
                                                                        style='font-family: Inter'
                                                                    >
                                                                        LƯU
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<title>Danh sách các phân loại</title>

<div id="listType_modalAddition"></div>

{{> addAdsType}}
{{> addReportType}}