
{{#section 'css'}}
    <link rel="stylesheet" href="../../public/css/report.css" />
    <style>
        #buttonStyle {
            transition: filter 0.1s ease-in-out;
        }
        #buttonStyle:hover {
            filter: brightness(0) invert(1);
        }
        .limited-width {
            max-width: 120px;
            overflow: auto;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        
        .limited-width-locationType {
            max-width: 220px;
            overflow: auto;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

        .limited-width-adsFormat {
            max-width: 180px;
            overflow: auto;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

        p {
            white-space: normal;
        }
    </style>
{{/section}}
{{#section 'js'}}
<script>
    $(document).ready(function() {
        // Get all district and ward for the dropdown list
        fetch('/api/v1/district', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then((response) => {
            return response.json();
        })
        .then((district_data) => {
            if (!district_data) { return; }
            if ($('#edit_district').length > 0) {
                $('#edit_district').on('change', function() {
                    var selectedDistrict = $(this).val();

                    let selectedDistrictData;
                    for (let i = 0; i < district_data.count; ++i) {
                        if (district_data.districts[i].districtName === `${selectedDistrict}`) {
                            selectedDistrictData = district_data.districts[i];
                            break;
                        }
                    }

                    if (selectedDistrictData) {
                        const wards = selectedDistrictData.wards;

                        $('#edit_ward').empty();
                        $('#edit_ward').append(`<option class='mb-0 softer-text fw-nomral' selected disabled>-- Chọn Phường --</option>`);

                        wards.forEach(function(ward) {
                            $('#edit_ward').append(`<option value="${ward}">${ward}</option>`);
                        });
                    } else {
                        console.log('District not found!');
                    }
                });
            } else {
                console.log('#edit_district not found!');
            }
        });
    });
</script>
{{/section}}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card w-100 mb-4">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4" id="tableName">
                        <img src="../../../public/assets/icons/List_icon.svg" alt="" width="24" height="24" />
                        Danh sách các điểm đặt quảng cáo
                    </h5>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">#</h6>
                                    </th>
                                    <th class="border-bottom-0 limited-width">
                                        <h6 class="fw-semibold mb-0">Điểm quảng cáo</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Loại vị trí</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Hình thức quảng cáo</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Trạng thái quy hoạch</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">&nbsp;</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">&nbsp;</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="body">
                                {{#if this.empty}}
                                <tr>
                                    <td class="card-body text-primary fw-semibold">Danh sách trống</td>
                                </tr>
                                {{else}}
                                {{#each this.adsPoints as |adsPoint index|}}
                                <tr>
                                    <td class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">{{create_order @index}}</h6>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-link m-1 limited-width"
                                            data-bs-toggle="modal"
                                            data-bs-target="#detailAdsPointModal-{{index}}">
                                            <p>{{location.locationName}}</p>
                                        </button>
                                    </td>
                                    <td class="border-bottom-0 limited-width-locationType">
                                        <p class="mb-0 fw-normal">{{locationType}}</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal limited-width-adsFormat">{{adsFormat.name}}</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        {{#ifCond planningStatus "===" "Đã quy hoạch"}}
                                        <span class="badge bg-primary rounded-3 fw-semibold">Đã quy hoạch</span>
                                        {{else}}
                                        <span class="badge bg-danger rounded-3 fw-semibold">Chưa quy hoạch</span>
                                        {{/ifCond}}
                                    </td>
                                    <td class="border-bottom-0">
                                    <a class="btn btn-primary m-1" href="/adsBoard/adsPoint/{{_id}}" role="button">
                                        Các bảng quảng cáo
                                    </a>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-outline-warning m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#requestEditAdsPointModal-{{index}}">
                                            <div id="buttonStyle">
                                                <img src="../../../public/assets/icons/Edit_icon.svg" alt="" width="24" height="24" />
                                                Yêu cầu chỉnh sửa
                                            </div>
                                        </button>
                                    </td>
                                </tr>
                                <div
                                    class="modal fade"
                                    id="detailAdsPointModal-{{index}}"
                                    tabindex="-1"
                                    aria-labelledby="reportModalLabel"
                                    aria-hidden="true"
                                    >
                                    <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
                                        <div class='modal-content'>
                                            <div class='modal-header'>
                                                <img
                                                    src='../../../public/assets/icons/Info_icon.svg'
                                                    style='height: 40px; width: 40px;'
                                                />
                                                <h5 class='modal-detail-title' id='reportModalLabel'>Thông tin</h5>
                                                <button
                                                    type='button'
                                                    class='btn-close'
                                                    data-bs-dismiss='modal'
                                                    aria-label='Close'
                                                ></button>
                                            </div>
                                            <div class='modal-detail-body'>
                                                <form id='detailAdsPointForm' enctype='multipart/form-data'>
                                                    <div class='mb-3 d-grid gap-2 me-2 ms-2 mt-2'>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold mb-4'>Điểm quảng cáo:</h5>
                                                                <p class='mb-0 text-primary fw-semibold' id="locationName">{{location.locationName}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold mb-3'>Quận:</h5>
                                                                <p class='mb-0' id="district">{{location.district}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold mb-3'>Phường:</h5>
                                                                <p class='mb-0' id="ward">{{location.ward}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold mb-4'>Địa chỉ</h5>
                                                                <p class='mb-0' id="address">{{location.address}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold mb-4'>Loại vị trí</h5>
                                                                <p class='mb-0' id="locationType">{{locationType}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold mb-4'>Hình thức quảng cáo</h5>
                                                                <p class='mb-0' id="adsFormat">{{adsFormat.name}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold mb-4'>Trạng thái địa điểm</h5>
                                                                {{#ifCond planningStatus "===" "Đã quy hoạch"}}
                                                                <span class="badge bg-primary rounded-3 fw-semibold">Đã quy hoạch</span>
                                                                {{else}}
                                                                <span class="badge bg-danger rounded-3 fw-semibold">Chưa quy hoạch</span>
                                                                {{/ifCond}}
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold mb-4'>Hình ảnh</h5>
                                                                <p class='mb-0' id="locationImages">{{locationImages}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class='modal fade'
                                    id='requestEditAdsPointModal-{{index}}'
                                    tabindex='-1'
                                    aria-labelledby='reportModalLabel'
                                    aria-hidden='true'
                                >
                                    <div class='modal-dialog'>
                                        <div class='modal-content'>
                                            <div class='modal-header'>
                                                <img
                                                    src='../../../public/assets/icons/Edit_icon_orange.svg'
                                                    style='height: 40px; width: 40px;'
                                                />
                                                <h5 class='modal-requestEdit-title' id='reportModalLabel'>
                                                    Chỉnh sửa thông tin
                                                </h5>
                                                <button
                                                    type='button'
                                                    class='btn-close'
                                                    data-bs-dismiss='modal'
                                                    aria-label='Close'
                                                ></button>
                                            </div>
                                            <div class='modal-body'>
                                                <form method="POST" id='requestEditAdsPointForm' enctype='multipart/form-data'>
                                                    <div class='mb-3' id='locationName'>
                                                        <label for='locationName' class='form-label' style='font-family: Inter;'>
                                                            <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                <div class="nowrap">Điểm quảng cáo</div>
                                                                <p class='mb-0 softer-text fw-nomral'>({{location.locationName}})</p>    
                                                            </div>
                                                        </label>
                                                        <input
                                                            type='text'
                                                            class='form-control fullNameReport'
                                                            id='edit_locationName'
                                                            required
                                                        />
                                                    </div>
                                                    <div class="d-flex flex-row column-gap-3">
                                                        <div class='mb-3' id='district'>
                                                            <label for='district' class='form-label' style='font-family: Inter'>
                                                                <div class='d-flex flex-row grid gap-1 column-gap-1'>
                                                                    <div class="nowrap">Quận</div>
                                                                    <p class='mb-0 softer-text fw-nomral'>({{location.district}})</p>
                                                                </div>
                                                            </label>
                                                            <select class='form-select reportType' id='edit_district' required>
                                                                <option class='mb-0 softer-text fw-nomral' selected disabled>
                                                                        -- Chọn Quận --
                                                                </option>
                                                                {{#each ../districts}}
                                                                    <option value="{{districtName}}">{{districtName}}</option>
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                        <div class='mb-3' id='ward'>
                                                            <label for='ward' class='form-label' style='font-family: Inter'>
                                                                <div class='d-flex flex-row grid gap-1 column-gap-1'>
                                                                    <div class="nowrap">Phường</div>
                                                                    <p class='mb-0 softer-text fw-nomral'>({{location.ward}})</p>
                                                                </div>
                                                            </label>
                                                            <select class='form-select reportType' id='edit_ward' required>
                                                                <option class='mb-0 softer-text fw-nomral' selected disabled>
                                                                        -- Chọn Phường --
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class='mb-3' id="address">
                                                        <label for='address' class='form-label' style='font-family: Inter'>
                                                            <div class='d-flex flex-row grid gap-1 column-gap-1'>
                                                                <div class="nowrap">Địa chỉ chi tiết</div>
                                                                <p class='mb-0 softer-text fw-nomral'>({{location.address}})</p>    
                                                            </div>
                                                        </label>
                                                        <textarea
                                                            class='form-control fullNameReport'
                                                            id='edit_address'
                                                            style="height: 100px;"
                                                            required
                                                        ></textarea>
                                                    </div>
                                                    <div class='mb-3' id="locationType">
                                                        <label for='locationType' class='form-label' style='font-family: Inter'>
                                                            <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                <div class="nowrap">Loại vị trí</div>
                                                                <p class='mb-0 softer-text fw-nomral'>({{locationType}})</p>    
                                                            </div>
                                                        </label>
        <select class='form-select reportType' id='edit_locationType' required>
            <option class='mb-0 softer-text fw-nomral' selected disabled>
                    -- Chọn loại vị trí --
            </option>
            <option
                value='Đất công/Công viên/Hành lang an toàn giao thông'
            >
                Đất công/Công viên/Hành lang an toàn giao thông
            </option>
            <option value='Đất tư nhân/Nhà ở riêng lẻ'>
                Đất tư nhân/Nhà ở riêng lẻ
            </option>
            <option value='Trung tâm thương mại'>Trung tâm thương mại</option>
            <option value='Chợ'>Chợ</option>
            <option value='Cây xăng'>Cây xăng</option>
            <option value='Nhà chờ xe buýt'>Nhà chờ xe buýt</option>
        </select>
                                                    </div>
                                                    <div class='mb-3' id="adsFormat">
                                                        <label for="adsFormat" class="form-label" style="font-family: Inter">
                                                            <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                <div class="nowrap">Hình thức quảng cáo</div>
                                                                <p class='mb-0 softer-text fw-nomral'>({{adsFormat.name}})</p>    
                                                            </div>
                                                        </label>
                                                        <select class='form-select reportType' id='edit_adsFormat' required>
                                                            <option class='mb-0 softer-text fw-nomral' selected disabled>
                                                                    -- Chọn hình thức quảng cáo --
                                                            </option>
                                                            {{#each ../adsFormats}}
                                                                <option value=`{{name}}`>{{name}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <div class='mb-3' id="planningStatus">
                                                        <label for='planningStatus' class='form-label' style='font-family: Inter'>
                                                            <div class='d-flex flex-row grid gap-0 column-gap-1 nowrap'>
                                                                <div>Trạng thái địa điểm</div>
                                                                {{#ifCond planningStatus "===" "Đã quy hoạch"}}
                                                                <span class="badge bg-primary rounded-3 fw-semibold">Đã quy hoạch</span>
                                                                {{else}}
                                                                <span class="badge bg-danger rounded-3 fw-semibold">Chưa quy hoạch</span>
                                                                {{/ifCond}}
                                                            </div>
                                                        </label>
                                                        <select class='form-select reportType' id='edit_planningStatus' required>
                                                            <option class='mb-0 softer-text fw-nomral' selected disabled>
                                                                    -- Chọn trạng thái --
                                                            </option>
                                                            <option value='Đã quy hoạch'>Đã quy hoạch</option>
                                                            <option value='Chưa quy hoạch'>Chưa quy hoạch</option>
                                                        </select>
                                                    </div>
                                                    <div class='mb-3' id="locationImages">
                                                        <label for='locationImages' class='form-label' style='font-family: Inter'>Hình ảnh</label>
                                                        <div class='card border mb-3'>
                                                            <div class='card-body'>
                                                                <p class='mb-0' id="edit_locationImages"></p>
                                                            </div>
                                                        </div>
                                                        <input
                                                            type='file'
                                                            class='form-control reportImage'
                                                            id='edit_locationImages'
                                                            accept='image/*'
                                                        />
                                                    </div>
                                                    <div class='button-container justify-content-center'>
                                                        <div
                                                            id='recaptcha'
                                                            class='g-recaptcha'
                                                            data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                                                            data-callback='onSubmit'
                                                            data-size='invisible'
                                                        ></div>
                                                        <div class='d-grid gap-2 col-3 mx-auto'>
                                                            <button
                                                                id='submitEditButton'
                                                                type='button'
                                                                class='btn btn-warning'
                                                                style='font-family: Inter'
                                                            >
                                                                GỬI
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<title>Danh sách điểm quảng cáo</title>

<div id="listAdsPoint_modalAddition"></div>
