
{{#section 'css'}}
<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css" />
<link rel="stylesheet" href="http://localhost:4000/public/css/report.css" />
{{/section}}

{{#section 'js'}}
<script src="https://unpkg.com/js-datepicker"></script>
<script>
    const picker1 = datepicker('#dateExpired', {
        formatter: (input, date, instance) => {
            const value = date.toLocaleDateString();
            input.value = value; // => '1/25/2099'
        },
        overlayPlaceholder: 'Nhập năm',
        customDays: ['S', 'M', 'T', 'W', 'Th', 'F', 'S']
    });
    const picker2 = datepicker('#startContract', {
        formatter: (input, date, instance) => {
            const value = date.toLocaleDateString();
            input.value = value; // => '1/25/2099'
        },
        overlayPlaceholder: 'Nhập năm',
        customDays: ['S', 'M', 'T', 'W', 'Th', 'F', 'S']
    });
    const picker3 = datepicker('#endContract', {
        formatter: (input, date, instance) => {
            const value = date.toLocaleDateString();
            input.value = value; // => '1/25/2099'
        },
        overlayPlaceholder: 'Nhập năm',
        customDays: ['S', 'M', 'T', 'W', 'Th', 'F', 'S']
    });
</script>
{{/section}}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">
                        Danh sách các cấp phép
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" style="table-layout: fixed; width: 100%;">
                            <colgroup>
                                <col style="width: 3%">
                                <col style="width: 17%">
                                <col style="width: 18.5%">
                                <col style="width: 15%">
                                <col style="width: 12.5%">
                                <col style="width: 12.5%">
                                <col style="width: 10%">
                                <col style="width: 10.5%">
                            </colgroup>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Loại bảng quảng cáo</th>
                                    <th scope="col">Địa điểm</th>
                                    <th scope="col">Công ty đặt quảng cáo</th>
                                    <th scope="col">Ngày bắt đầu</th>
                                    <th scope="col">Ngày kết thúc</th>
                                    <th scope="col">Tình trạng</th>
                                    {{#ifCond authUser.role '===' 'Sở VH-TT'}}
                                        <th scope="col">Xét duyệt</th>
                                    {{else}}
                                        <th scope="col">Yêu cầu</th>
                                    {{/ifCond}}
                                </tr>
                            </thead>
                        </table>
                        <div class="table-body-container" style="height: 67vh; overflow-y: auto;">
                            <table class="table table-bordered table-hover text-center">
                                <colgroup>
                                    <col style="width: 3%">
                                    <col style="width: 17%">
                                    <col style="width: 18.5%">
                                    <col style="width: 15%">
                                    <col style="width: 12.5%">
                                    <col style="width: 12.5%">
                                    <col style="width: 10%">
                                    <col style="width: 10.5%">
                                </colgroup>
                                <tbody id="body">
                                    {{#if adsLicenseRequestsEmpty}}
                                        <tr>
                                            <td class="card-body text-primary fw-semibold">Không có cấp phép nào</td>
                                        </tr>
                                    {{else}}
                                    {{#each adsLicenseRequests as |adsLicenseRequests index|}}
                                    <tr>
                                        <td class="border-bottom-0 text-center align-middle">
                                            <h6 class="fw-semibold mb-0">{{create_order index}}</h6>
                                        </td>
                                        <td class="border-bottom-0 text-center align-middle fw-semibold">
                                            {{licenseRequestedAdsBoard.adsBoardType}}
                                        </td>
                                        <td class="border-bottom-0 text-center align-middle fw-semibold">
                                            {{licenseRequestedAdsBoard.adsBoard.adsPoint.location.locationName}}
                                        </td>
                                        <td class="border-bottom-0 text-center align-middle">
                                            <p class="mb-0 fw-normal">{{companyInfo.name}}</p>
                                        </td>
                                        <td class="border-bottom-0 text-center align-middle">
                                            <p class="mb-0 fw-normal">{{contractStartDate}}</p>
                                        </td>
                                        <td class="border-bottom-0 text-center align-middle">
                                            <p class="mb-0 fw-normal">{{licenseRequestedAdsBoard.contractEndDate}}</p>
                                        </td>
                                        {{#ifCond requestApprovalStatus '===' 'Đã được duyệt'}}
                                        <td class="border-bottom-0 text-center align-middle">
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="badge bg-success rounded-3 fw-semibold">Đã được duyệt</span>
                                            </div>
                                        </td>
                                        {{else}}
                                        <td class="border-bottom-0 text-center align-middle">
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="badge bg-warning rounded-3 fw-semibold">Chưa được duyệt</span>
                                            </div>
                                        </td>
                                        {{/ifCond}}
                                        <td class="border-bottom-0 align-middle">
                                            <button
                                                type="button"
                                                class="btn btn-warning m-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#detailLicenseAdsBoardModal-{{_id}}">
                                                <div class="d-flex">
                                                <img src="../../../public/assets/icons/Verify_icon.svg" alt="" width="24" height="24" class="me-2" />
                                                <div style="color: white">Chi tiết</div>
                                                </div>
                                            </button>
                                        </td>
                                    </tr>
                                    <div
                                        class='modal fade'
                                        id='detailLicenseAdsBoardModal-{{_id}}'
                                        tabindex='-1'
                                        aria-labelledby='reportModalLabel'
                                        aria-hidden='true'
                                    >
                                        <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
                                            <div class='modal-content'>
                                                <div class='modal-header'>
                                                    <img
                                                        src='../../../public/assets/icons/Info_icon.svg'
                                                        style='height: 40px; width: 40px;'
                                                    />
                                                    <h5 class='modal-detail-title' id='reportModalLabel'>Thông tin cấp phép</h5>
                                                    <button
                                                        type='button'
                                                        class='btn-close'
                                                        data-bs-dismiss='modal'
                                                        aria-label='Close'
                                                    ></button>
                                                </div>
                                                <div class='modal-detail-body'>
                                                    <form id='detailLicenseAdsBoardForm' enctype='multipart/form-data'>
                                                        <div class='mb-3 d-grid gap-2 me-2 ms-2 mt-2'>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Loại bảng quảng cáo</h5>
                                                                    <p class='mb-0 fw-semibold'>{{licenseRequestedAdsBoard.adsBoardType}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Điểm quảng cáo</h5>
                                                                    <p class='mb-0 fw-semibold'>{{licenseRequestedAdsBoard.adsBoard.adsPoint.location.locationName}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Địa chỉ</h5>
                                                                    <p class='mb-0'>{{licenseRequestedAdsBoard.adsBoard.adsPoint.location.address}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Loại vị trí</h5>
                                                                    <p class='mb-0'>{{licenseRequestedAdsBoard.adsBoard.adsPoint.locationType}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Hình thức quảng cáo</h5>
                                                                    <p class='mb-0'>{{licenseRequestedAdsBoard.adsBoard.adsPoint.adsFormat.name}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Trạng thái địa điểm</h5>
                                                                        {{#ifCond licenseRequestedAdsBoard.adsBoard.adsPoint.planningStatus "===" "Đã quy hoạch"}}
                                                                        <span class="badge bg-primary rounded-3 fw-semibold">Đã quy hoạch</span>
                                                                        {{else}}
                                                                        <span class="badge bg-danger rounded-3 fw-semibold">Chưa quy hoạch</span>
                                                                        {{/ifCond}}
                                                                </div>
                                                            </div>
                                                            <div class="row gx-2">
                                                                <div class='col-md-6'>
                                                                    <div class='card border'>
                                                                        <div class='card-body'>
                                                                            <h5 class='card-title fw-semibold mb-4'>Kích thước</h5>
                                                                            <p class='mb-0'>{{licenseRequestedAdsBoard.size.width}}m x {{licenseRequestedAdsBoard.size.height}}m</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class='col-md-6'>
                                                                    <div class='card border'>
                                                                        <div class='card-body'>
                                                                            <h5 class='card-title fw-semibold mb-4'>Số lượng</h5>
                                                                            <p class='mb-0'>{{licenseRequestedAdsBoard.quantity}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Hình ảnh</h5>
                                                                    <p class='mb-0'>This is a sample page</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Tên công ty đặt quảng cáo</h5>
                                                                    <p class='mb-0'>{{companyInfo.name}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Email công ty</h5>
                                                                    <p class='mb-0'>{{companyInfo.email}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Điện thoại công ty</h5>
                                                                    <p class='mb-0'>{{companyInfo.phone}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Địa chỉ công ty</h5>
                                                                    <p class='mb-0'>{{companyInfo.phone}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row gx-2">
                                                                <div class='col-md-6'>
                                                                    <div class='card border'>
                                                                        <div class='card-body'>
                                                                            <h5 class='card-title fw-semibold mb-4'>Ngày bắt đầu hợp đồng</h5>
                                                                            <p class='mb-0'>{{contractStartDate}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class='col-md-6'>
                                                                    <div class='card border'>
                                                                        <div class='card-body'>
                                                                            <h5 class='card-title fw-semibold mb-4'>Ngày kết thúc hợp đồng</h5>
                                                                            <p class='mb-0'>{{licenseRequestedAdsBoard.contractEndDate}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Tình trạng cấp phép</h5>
                                                                    {{#ifCond requestApprovalStatus '===' 'Đã được duyệt'}}
                                                                        <div class="d-flex align-items-center gap-2">
                                                                            <span class="badge bg-success rounded-3 fw-semibold">Đã được duyệt</span>
                                                                        </div>
                                                                    {{else}}
                                                                        <div class="d-flex align-items-center gap-2">
                                                                            <span class="badge bg-warning rounded-3 fw-semibold">Chưa được duyệt</span>
                                                                        </div>
                                                                    {{/ifCond}}
                                                                </div>
                                                            </div>
                                                            {{#ifCond requestApprovalStatus '===' 'Chưa được duyệt'}}
                                                            {{#ifCond authUser.role '===' 'Sở VH-TT'}}
                                                            <div class="d-flex justify-content-center mt-2">
                                                                <div class='d-grid col-md-3 mx-2'>
                                                                    <button
                                                                        id='deleteAdsTypeButton'
                                                                        type='submit'
                                                                        class='btn btn-outline-danger btn-block'
                                                                        style='font-family: Inter'
                                                                    >
                                                                        KHÔNG DUYỆT
                                                                    </button>
                                                                </div>
                                                                <div class='d-grid col-md-3 mx-2'>
                                                                    <button
                                                                        id='saveAdsTypeButton'
                                                                        type='submit'
                                                                        class='btn btn-success btn-block'
                                                                        style='font-family: Inter'
                                                                    >
                                                                        DUYỆT
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            {{else}}
                                                            <div class="d-flex justify-content-center mt-2">
                                                                <div class='d-grid col-md-3 mx-2'>
                                                                    <button
                                                                        id='deleteAdsTypeButton'
                                                                        type='submit'
                                                                        class='btn btn-outline-danger btn-block'
                                                                        style='font-family: Inter'
                                                                    >
                                                                        HỦY YÊU CẦU
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            {{/ifCond}}
                                                            {{/ifCond}}
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<title>Danh sách các cấp phép</title>

{{> detailAdsBoard}}
{{> detailAdsPoint}}
{{> detailLicenseAdsBoard}}
{{> requestEditAdsBoard}}