
{{#section 'css'}}
<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css" />
<link rel="stylesheet" href="../../../public/css/report.css" />
    <style>
        #buttonStyle {
            transition: filter 0.1s ease-in-out;
        }
        #buttonStyle:hover {
            filter: brightness(0) invert(1);
        }
    </style>
{{/section}}


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card w-100 mb-4">
                <div class="card-body p-4">
                    <button type="button" class="btn btn-outline-dark mb-4">
                        <div id="buttonStyle" onclick="goBack()">
                            <img src="../../../public/assets/icons/Back_icon.svg" alt="" width="24" height="24" />
                            Trở về
                        </div>
                    </button>
                    <h5 class="card-title fw-semibold mb-4" id="tableName">
                        <img src="../../../public/assets/icons/List_icon.svg" alt="" width="24" height="24" />
                        Danh sách bảng đặt quảng cáo
                    </h5>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">#</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Loại bảng quảng cáo</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Kích thước</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Số lượng</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Quận</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">&nbsp;</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">&nbsp;</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="body">
                                {{#if this.empty}}
                                <tr>
                                    <td class="card-body text-primary fw-semibold">Danh sách trống</td>
                                </tr>
                                {{else}}
                                {{#each this.adsBoards as |adsBoards index|}}
                                <tr>
                                    <td class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">{{create_order @index}}</h6>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-link m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#detailAdsBoardModal-{{index}}">
                                            {{adsBoardType}}
                                        </button>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">{{size.width}}m x {{size.height}}m</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">{{quantity}}</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">{{adsPoint.location.district}}</p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-success m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#requestLicenseAdsBoardModal-${i}">
                                            <div>
                                                <img src="../../../public/assets/icons/License_icon.svg" alt="" width="24" height="24" />
                                                Yêu cầu cấp phép
                                            </div>
                                        </button>
                                    </td>
                                    <td class="border-bottom-0">
                                        <button
                                            type="button"
                                            class="btn btn-outline-warning m-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#requestEditAdsBoardModal-${i}">
                                            <div id="buttonStyle">
                                                <img src="../../../public/assets/icons/Edit_icon.svg" alt="" width="24" height="24" />
                                                Yêu cầu chỉnh sửa
                                            </div>
                                        </button>
                                    </td>
                                </tr>
                                <div
                                    class='modal fade'
                                    id="detailAdsBoardModal-{{index}}"
                                    tabindex='-1'
                                    aria-labelledby='reportModalLabel'
                                    aria-hidden='true'
                                >
                                    <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
                                        <div class='modal-content'>
                                            <div class='modal-header'>
                                                <img
                                                    src='../../../public/assets/icons/Info_icon.svg'
                                                    style='height: 40px; width: 40px;'
                                                />
                                                <h5 class='modal-detail-title' id='reportModalLabel'>Thông tin</h5>
                                                <button
                                                    type='button'
                                                    class='btn-close'
                                                    data-bs-dismiss='modal'
                                                    aria-label='Close'
                                                ></button>
                                            </div>
                                            <div class='modal-detail-body'>
                                                <form id='detailAdsBoardForm' enctype='multipart/form-data'>
                                                    <div class='mb-3 d-grid gap-2 me-2 ms-2 mt-2'>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Loại bảng quảng cáo</h5>
                                                                <p class='mb-0 text-primary fw-semibold' id="adsBoardType">{{adsBoardType}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Địa điểm:</h5>
                                                                <p class='mb-0' id="locationName">{{adsPoint.location.locationName}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Quận:</h5>
                                                                <p class='mb-0' id="district">{{adsPoint.location.district}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Phường:</h5>
                                                                <p class='mb-0' id="ward">{{adsPoint.location.ward}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Địa chỉ</h5>
                                                                <p class='mb-0' id="address">{{adsPoint.location.address}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Loại vị trí</h5>
                                                                <p class='mb-0' id="locationType">{{adsPoint.locationType}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Hình thức quảng cáo</h5>
                                                                <p class='mb-0' id="adsFormat">{{adsPoint.adsFormat.name}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold mb-4'>Trạng thái địa điểm</h5>
                                                                {{#ifCond adsPoint.planningStatus "===" "Đã quy hoạch"}}
                                                                <span class="badge bg-primary rounded-3 fw-semibold">Đã quy hoạch</span>
                                                                {{else}}
                                                                <span class="badge bg-danger rounded-3 fw-semibold">Chưa quy hoạch</span>
                                                                {{/ifCond}}
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Kích thước</h5>
                                                                <p class='mb-0' id="size">{{size.width}}m x {{size.height}}m</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Số lượng</h5>
                                                                <p class='mb-0' id="quantity">{{quantity}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Ngày hết hạn của hợp đồng quảng cáo</h5>
                                                                <p class='mb-0' id="contractEndDate">{{format_date contractEndDate}}</p>
                                                            </div>
                                                        </div>
                                                        <div class='card border'>
                                                            <div class='card-body'>
                                                                <h5 class='card-title fw-semibold'>Hình ảnh</h5>
                                                                <p class='mb-0' id="adsBoardImages"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<title>Danh sách bảng quảng cáo</title>

<div id="listAdsBoard_modalAddition"></div>