{{#section 'css'}}
<link rel="stylesheet" href="public/css/adpointInfo.css" />
<link rel="stylesheet" href="public/css/report.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css">
{{/section}}
{{#section 'js'}}
<script src='public/js/listAdsBoard.js' type="module"></script>

<script>
  $('.image-input').fileinput({
    dropZoneEnabled: true,
    maxFileCount: 5,
    allowedFileExtensions: ['jpg', 'png', 'pdf', 'jpeg'],
    allowedFileExtensions: ['jpg', 'png', 'pdf', 'jpeg'],
    language: 'vi',
    theme: 'fas',
    initialPreviewAsData: true,
    initialPreviewFileType: 'image',
    showUpload: false,
    maxFileSize: 5120,
    disableZoomTitle: true,
  });
</script>


{{/section}}

{{!-- Role của User, lưu để script lấy xài --}}
<meta data-role="{{authUser.role}}">

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <a role="button" href="/adsPoint/allPoints" class="btn btn-outline-dark mb-3">
                <div id="buttonStyle">
                    <img src="public/assets/icons/Back_icon.svg" alt="" width="24" height="24" />
                    Trở về
                </div>
            </a>
            <div class="card w-100 mb-4">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title fw-semibold mb-4" id="tableName">
                            <img src="public/assets/icons/List_icon.svg" alt="" width="24" height="24" />
                            Danh sách bảng đặt quảng cáo
                        </h5>
                        {{#ifCond authUser.role '===' 'Sở VH-TT'}}
                        <button type="button" class="btn btn-success btn-custom" data-bs-toggle="modal" data-bs-target="#addAdsBoardModal">
                            <img src="public/assets/icons/Add_icon_white.svg" alt="" width="24" height="24" class="me-2" />
                            Thêm bảng quảng cáo
                        </button>
                        {{/ifCond}}
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center" style="table-layout: fixed; width: 100%;">
                            <colgroup>
                                <col style="width: 3%">
                                <col style="width: 20%">
                                <col style="width: 10%">
                                <col style="width: 10%">
                                <col style="width: 20%">
                                <col style="width: 15%">
                                <col style="width: 15%">
                            </colgroup>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Loại bảng quảng cáo</th>
                                    <th scope="col">Kích thước</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Quận</th>
                                    {{#ifCond authUser.role '===' 'Sở VH-TT'}}
                                        <th scope="col">Cấp phép</th>
                                    {{else}}
                                        <th scope="col">Yêu cầu cấp phép</th>
                                    {{/ifCond}}
                                    {{#ifCond authUser.role '===' 'Sở VH-TT'}}
                                        <th scope="col">Thao tác</th>
                                    {{else}}
                                        <th scope="col">Yêu cầu chỉnh sửa</th>
                                    {{/ifCond}}
                                </tr>
                            </thead>
                        </table>
                        <div class="table-body-container" style="height: 57vh; overflow-y: auto;">
                            <table class="table table-bordered table-hover text-center">
                                <colgroup>
                                    <col style="width: 3%">
                                    <col style="width: 20%">
                                    <col style="width: 10%">
                                    <col style="width: 10%">
                                    <col style="width: 20%">
                                    <col style="width: 15%">
                                    <col style="width: 15%">
                                </colgroup>
                                <tbody id="body">
                                    {{#if this.empty}}
                                    <tr>
                                        <td class="card-body text-primary fw-semibold">Danh sách trống</td>
                                    </tr>
                                    {{else}}
                                    {{#each this.adsBoards as |adsBoards index|}}
                                    <tr>
                                        <td class="border-bottom-0 text-center align-middle">
                                            <h6 class="fw-semibold mb-0">{{create_order @index}}
                                        </td>
                                        <td class="border-bottom-0">
                                            <button
                                                type="button"
                                                class="btn btn-link m-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#detailAdsBoardModal-{{index}}">
                                                {{adsBoardType}}
                                            </button>
                                        </td>
                                        <td class="border-bottom-0 text-center align-middle">
                                            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                                <p class="mb-0 fw-normal">{{size.width}}m x {{size.height}}m</p>
                                            </div>
                                        </td>
                                        <td class="border-bottom-0 text-center align-middle">
                                            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                                <p class="mb-0 fw-normal">{{quantity}}</p>
                                            </div>
                                        </td>
                                        <td class="border-bottom-0 text-center align-middle">
                                            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                                <p class="mb-0 fw-normal">Quận {{adsPoint.location.district}}</p>
                                            </div>
                                        </td>
                                        <td class="border-bottom-0">
                                            <button
                                                type="button"
                                                class="btn btn-success m-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#requestLicenseAdsBoardModal-{{index}}">
                                                <div>
                                                    <img src="public/assets/icons/License_icon.svg" alt="" width="24" height="24" />
                                                </div>
                                            </button>
                                        </td>
                                        <td class="border-bottom-0">
                                            <button
                                                type="button"
                                                class="btn btn-outline-warning m-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#requestEditAdsBoardModal-{{_id}}">
                                                <div id="buttonStyle">
                                                    <img src="public/assets/icons/Edit_icon.svg" alt="" width="24" height="24" />
                                                </div>
                                            </button>
                                        </td>
                                    </tr>
                                    


                                    {{!-- Detail AdsBoard Modal --}}
                                    <div
                                        class='modal fade detailAdsBoardModal'
                                        id="detailAdsBoardModal-{{index}}"
                                        tabindex='-1'
                                        aria-labelledby='reportModalLabel'
                                        aria-hidden='true'
                                        data-lat="{{adsPoint.location.coords.lat}}"
                                        data-lng="{{adsPoint.location.coords.lng}}"
                                    >
                                        <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
                                            <div class='modal-content'>
                                                <div class='modal-header'>
                                                    <img
                                                        src='public/assets/icons/Info_icon.svg'
                                                        style='height: 40px; width: 40px;'
                                                    />
                                                    <h5 class='modal-detail-title' id='reportModalLabel'>Thông tin</h5>
                                                    <button
                                                        type='button'
                                                        class='btn-close'
                                                        data-bs-dismiss='modal'
                                                        aria-label='Close'
                                                    ></button>
                                                </div>
                                                <div class='modal-detail-body'>
                                                    <form id='detailAdsBoardForm' enctype='multipart/form-data'>
                                                        <div class='mb-3 d-grid gap-2 me-2 ms-2 mt-2'>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Loại bảng quảng cáo</h5>
                                                                    <p class='mb-0 text-primary fw-semibold' id="adsBoardType">{{adsBoardType}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Địa điểm:</h5>
                                                                    <p class='mb-0' id="locationName">{{adsPoint.location.locationName}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Quận:</h5>
                                                                    <p class='mb-0' id="district">{{adsPoint.location.district}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Phường:</h5>
                                                                    <p class='mb-0' id="ward">{{adsPoint.location.ward}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Địa chỉ</h5>
                                                                    <p class='mb-1' id="address">{{adsPoint.location.address}}</p>
                                                                    <div class="map-view-only"></div>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Loại vị trí</h5>
                                                                    <p class='mb-0' id="locationType">{{adsPoint.locationType}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Hình thức quảng cáo</h5>
                                                                    <p class='mb-0' id="adsFormat">{{adsPoint.adsFormat.name}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold mb-4'>Trạng thái địa điểm</h5>
                                                                    {{#ifCond adsPoint.planningStatus "===" "Đã quy hoạch"}}
                                                                    <span class="badge bg-primary rounded-3 fw-semibold">Đã quy hoạch</span>
                                                                    {{else}}
                                                                    <span class="badge bg-danger rounded-3 fw-semibold">Chưa quy hoạch</span>
                                                                    {{/ifCond}}
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Kích thước</h5>
                                                                    <p class='mb-0' id="size">{{size.width}}m x {{size.height}}m</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Số lượng</h5>
                                                                    <p class='mb-0' id="quantity">{{quantity}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Ngày hết hạn của hợp đồng quảng cáo</h5>
                                                                    <p class='mb-0' id="contractEndDate">{{format_date contractEndDate}}</p>
                                                                </div>
                                                            </div>
                                                            <div class='card border'>
                                                                <div class='card-body'>
                                                                    <h5 class='card-title fw-semibold'>Hình ảnh</h5>
                                                                    <input
                                                                        type='file'
                                                                        class='form-control image-input'
                                                                        id="adsBoardImages{{index}}"
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                        
                                        {{!-- Edit AdsBoard Modal (Sở) --}}
                                    {{#ifCond ../authUser.role '===' 'Sở VH-TT'}}
                                    <div
                                        class='modal fade requestEditAdsBoardModal'
                                        id='requestEditAdsBoardModal-{{_id}}'
                                        tabindex='-1'
                                        aria-hidden='true'
                                    >
                                        <div class='modal-dialog'>
                                            <div class='modal-content'>
                                                <div class='modal-header'>
                                                    <img
                                                        src='public/assets/icons/Edit_icon_orange.svg'
                                                        style='height: 40px; width: 40px;'
                                                    />
                                                    <h5 class='modal-Edit-title' id='reportModalLabel'>
                                                        Chỉnh sửa thông tin
                                                    </h5>
                                                    <button
                                                        type='button'
                                                        class='btn-close'
                                                        data-bs-dismiss='modal'
                                                        aria-label='Close'
                                                    ></button>
                                                </div>
                                                <div class='modal-body'>
                                                    <form id='requestEditAdsBoardForm-{{_id}}' class="requestEditAdsBoardForm" enctype='multipart/form-data' data-id="{{_id}}" data-mode="Chỉnh sửa">
                                                        <div class='mb-3'>
                                                            <div>
                                                                <label class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                        <div class="nowrap">Loại bảng quảng cáo</div>
                                                                        <p class='mb-0 softer-text fw-nomral'></p>    
                                                                    </div>
                                                                </label>
    <select class='form-select edit_adsBoardType' id='edit_adsBoardType-{{_id}}' required>
        <option class='mb-0 softer-text fw-nomral' disabled>
                -- Chọn loại bảng quảng cáo --
        </option>
        <option value='Trụ bảng hiflex' {{#ifCond adsBoardType "===" "Trụ bảng hiflex"}}selected{{/ifCond}}>Trụ bảng hiflex</option>
        <option value='Trụ màn hình điện tử LED' {{#ifCond adsBoardType "===" "Trụ màn hình điện tử LED"}}selected{{/ifCond}}>Trụ màn hình điện tử LED</option>
        <option value='Trụ hộp đèn' {{#ifCond adsBoardType "===" "Trụ hộp đèn"}}selected{{/ifCond}}>Trụ hộp đèn</option>
        <option value='Cổng chào' {{#ifCond adsBoardType "===" "Cổng chào"}}selected{{/ifCond}}>Cổng chào</option>
        <option value='Trụ/Cụm pano' {{#ifCond adsBoardType "===" "Trụ/Cụm pano"}}selected{{/ifCond}}>Trụ/Cụm pano</option>
        <option value='Trụ treo băng rôn ngang' {{#ifCond adsBoardType "===" "Trụ treo băng rôn ngang"}}selected{{/ifCond}}>Trụ treo băng rôn ngang</option>
        <option value='Trung tâm thương mại' {{#ifCond adsBoardType "===" "Trung tâm thương mại"}}selected{{/ifCond}}>Trung tâm thương mại</option>
        <option value='Trụ treo băng rôn dọc' {{#ifCond adsBoardType "===" "Trụ treo băng rôn dọc"}}selected{{/ifCond}}>Trụ treo băng rôn dọc</option>

    </select>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-row column-gap-3">
                                                            <div class='mb-3' id='district'>
                                                                <label for='district' class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-1 column-gap-1'>
                                                                        <div class="nowrap">Quận</div>
                                                                        <p class='mb-0 softer-text fw-nomral'></p>
                                                                    </div>
                                                                </label>
                                                                <select class='form-select edit_district' id='edit_district-{{_id}}' required>
                                                                    <option class='mb-0 softer-text fw-nomral' disabled>
                                                                            -- Chọn Quận --
                                                                    </option>
                                                                    {{#each ../districts}}
                                                                        <option value={{districtName}} {{#ifCond districtName "===" ../adsPoint.location.district}}selected{{/ifCond}}>{{districtName}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                            <div class='mb-3' id='ward'>
                                                                <label for='ward' class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-1 column-gap-1'>
                                                                        <div class="nowrap">Phường</div>
                                                                        <p class='mb-0 softer-text fw-nomral'></p>
                                                                    </div>
                                                                </label>
                                                                <select class='form-select edit_ward' id='edit_ward-{{_id}}' required>
                                                                    <option class='mb-0 softer-text fw-nomral' selected disabled>
                                                                            -- Chọn Phường --
                                                                    </option>
                                                                    <option value={{adsPoint.location.ward}} selected>{{adsPoint.location.ward}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-row column-gap-3">
                                                            <div class='mb-3' id="height">
                                                                <label for='height' class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                        <div>Chiều cao (m)</div>   
                                                                    </div>
                                                                </label>
                                                                <input
                                                                    type='text'
                                                                    class='form-control'
                                                                    id='edit_height-{{_id}}'
                                                                    value="{{size.height}}"
                                                                    required
                                                                />
                                                            </div>
                                                            <div class='mb-3' id="width">
                                                                <label for='width' class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                        <div>Chiều rộng (m)</div>
                                                                    </div>
                                                                </label>
                                                                <input
                                                                    type='text'
                                                                    class='form-control'
                                                                    id='edit_width-{{_id}}'
                                                                    value="{{size.width}}"
                                                                    required
                                                                />
                                                            </div>
                                                            <div class='mb-3'>
                                                                <label class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                        <div>Số lượng</div>    
                                                                    </div>
                                                                </label>
                                                                <input
                                                                    type='text'
                                                                    class='form-control'
                                                                    id='edit_quantity-{{_id}}'
                                                                    value="{{quantity}}"
                                                                    required
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class='mb-3'>
                                                            <label class='form-label' style='font-family: Inter'>
                                                                <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                    <div>Ngày hết hạn của hợp đồng quảng cáo</div>  
                                                                </div>
                                                            </label>
                                                            <input type='text' class='edit_contractEndDate form-control edit_contractEndDate-{{_id}}' id='edit_contractEndDate-{{index}}' value="{{format_date contractEndDate}}" required />
                                                        </div>
                                                        <div class='mb-3'>
                                                            <label class='form-label' style='font-family: Inter'>Hình ảnh</label>
                                                            <input
                                                                type='file'
                                                                class='form-control image-input'
                                                                id="image-input-{{_id}}"
                                                            />
                                                        </div>
                                                        <div class='button-container justify-content-center'>
                                                            <div
                                                                id='recaptcha'
                                                                class='g-recaptcha'
                                                                data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                                                                data-callback='onSubmit'
                                                                data-size='invisible'
                                                            ></div>
                                                            <div class="d-flex justify-content-center">
                                                                <div class='d-grid col-md-3 mx-2'>
                                                                    <button
                                                                        id='deleteAdsBoardButton{{index}}'
                                                                        type='submit'
                                                                        class='btn btn-outline-danger btn-block'
                                                                        style='font-family: Inter'
                                                                    >
                                                                        XÓA
                                                                    </button>
                                                                </div>
                                                                <div class='d-grid col-md-3 mx-2'>
                                                                    <button
                                                                        id='saveAdsBoardButton'
                                                                        type='submit'
                                                                        class='btn btn-success btn-block'
                                                                        style='font-family: Inter'
                                                                    >
                                                                        CẬP NHẬT
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    {{else}}


                                    {{!-- Request Edit AdsBoard Modal (Phường Quận) --}}
                                    <div
                                        class='modal fade requestEditAdsBoardModal'
                                        id='requestEditAdsBoardModal-{{_id}}'
                                        tabindex='-1'
                                        aria-labelledby='reportModalLabel'
                                        aria-hidden='true'
                                    >
                                        <div class='modal-dialog'>
                                            <div class='modal-content'>
                                                <div class='modal-header'>
                                                    <img
                                                        src='public/assets/icons/Edit_icon_orange.svg'
                                                        style='height: 40px; width: 40px;'
                                                    />
                                                    <h5 class='modal-requestEdit-title' id='reportModalLabel'>
                                                        Chỉnh sửa thông tin
                                                    </h5>
                                                    <button
                                                        type='button'
                                                        class='btn-close'
                                                        data-bs-dismiss='modal'
                                                        aria-label='Close'
                                                    ></button>
                                                </div>
                                                <div class='modal-body'>
                                                    <form id='requestEditAdsBoardForm-{{_id}}' class="requestEditAdsBoardForm" enctype='multipart/form-data' data-id="{{_id}}" data-mode="Yêu cầu chỉnh sửa">
                                                        <div class='mb-3'>
                                                            <div>
                                                                <label class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                        <div class="nowrap">Loại bảng quảng cáo</div>
                                                                        <p class='mb-0 softer-text fw-nomral'></p>    
                                                                    </div>
                                                                </label>
                                                    <select class='form-select edit_adsBoardType' id="edit_adsBoardType-{{_id}}" required>
                                                        <option class='mb-0 softer-text fw-nomral' disabled>
                                                                -- Chọn loại bảng quảng cáo --
                                                        </option>
                                                        <option value='Trụ bảng hiflex' {{#ifCond adsBoardType "===" "Trụ bảng hiflex"}}selected{{/ifCond}}>Trụ bảng hiflex</option>
                                                        <option value='Trụ màn hình điện tử LED' {{#ifCond adsBoardType "===" "Trụ màn hình điện tử LED"}}selected{{/ifCond}}>Trụ màn hình điện tử LED</option>
                                                        <option value='Trụ hộp đèn' {{#ifCond adsBoardType "===" "Trụ hộp đèn"}}selected{{/ifCond}}>Trụ hộp đèn</option>
                                                        <option value='Cổng chào' {{#ifCond adsBoardType "===" "Cổng chào"}}selected{{/ifCond}}>Cổng chào</option>
                                                        <option value='Trụ/Cụm pano' {{#ifCond adsBoardType "===" "Trụ/Cụm pano"}}selected{{/ifCond}}>Trụ/Cụm pano</option>
                                                        <option value='Trụ treo băng rôn ngang' {{#ifCond adsBoardType "===" "Trụ treo băng rôn ngang"}}selected{{/ifCond}}>Trụ treo băng rôn ngang</option>
                                                        <option value='Trung tâm thương mại' {{#ifCond adsBoardType "===" "Trung tâm thương mại"}}selected{{/ifCond}}>Trung tâm thương mại</option>
                                                        <option value='Trụ treo băng rôn dọc' {{#ifCond adsBoardType "===" "Trụ treo băng rôn dọc"}}selected{{/ifCond}}>Trụ treo băng rôn dọc</option>
                                                    </select>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-row column-gap-3">
                                                            <div class='mb-3'>
                                                                <label class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-1 column-gap-1'>
                                                                        <div class="nowrap">Quận</div>
                                                                    </div>
                                                                </label>
                                                                <select class='form-select edit_district' id="edit_district-{{_id}}" required>
                                                                    <option class='mb-0 softer-text fw-nomral' disabled>
                                                                            -- Chọn Quận --
                                                                    </option>
                                                                    {{#each ../districts}}
                                                                        <option value={{districtName}} {{#ifCond districtName "===" ../adsPoint.location.district}}selected{{/ifCond}}>{{districtName}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                            <div class='mb-3'>
                                                                <label for='ward' class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-1 column-gap-1'>
                                                                        <div class="nowrap">Phường</div>
                                                                    </div>
                                                                </label>
                                                                <select class='form-select edit_ward' id="edit_ward-{{_id}}" required>
                                                                    <option class='mb-0 softer-text fw-nomral' selected disabled>
                                                                            -- Chọn Phường --
                                                                    </option>
                                                                    <option value={{adsPoint.location.ward}} selected>{{adsPoint.location.ward}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-row column-gap-3">
                                                            <div class='mb-3'>
                                                                <label class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                        <div>Chiều cao (m)</div>   
                                                                    </div>
                                                                </label>
                                                                <input
                                                                    type='text'
                                                                    id="edit_height-{{_id}}"
                                                                    class='form-control'
                                                                    value="{{size.height}}"
                                                                    required
                                                                />
                                                            </div>
                                                            <div class='mb-3'>
                                                                <label class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                        <div>Chiều rộng (m)</div>
                                                                    </div>
                                                                </label>
                                                                <input
                                                                    type='text'
                                                                    id="edit_width-{{_id}}"
                                                                    class='form-control'
                                                                    value="{{size.width}}"
                                                                    required
                                                                />
                                                            </div>
                                                            <div class='mb-3'>
                                                                <label class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                        <div>Số lượng</div>    
                                                                    </div>
                                                                </label>
                                                                <input
                                                                    type='text'
                                                                    id = 'edit_quantity-{{_id}}'
                                                                    class='form-control'
                                                                    value="{{quantity}}"
                                                                    required
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class='mb-3'>
                                                            <label class='form-label' style='font-family: Inter'>
                                                                <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                    <div>Ngày hết hạn của hợp đồng quảng cáo</div>  
                                                                </div>
                                                            </label>
                                                            <input type='text' class='edit_contractEndDate edit_contractEndDate-{{_id}} form-control' id='edit_contractEndDate-{{index}}' value="{{format_date contractEndDate}}" required />
                                                        </div>
                                                        <div class='mb-3'>
                                                            <div class="form-group">
                                                                <label class="form-label">Lý do chỉnh sửa</label>
                                                                <input type="text" class="form-control edit_reason" id="edit_reason-{{_id}}" required>
                                                            </div>
                                                        </div>
                                                        <div class='mb-3'>
                                                            <div class="form-group">
                                                                <label>Cập nhật hình ảnh</label>
                                                                <input type="file" class="form-control image-input" id="image-input-{{_id}}" multiple>
                                                            </div>
                                                        </div>
                                                        <div class='button-container justify-content-center'>
                                                            <div
                                                                id='recaptcha-{{_id}}'
                                                                class='g-recaptcha'
                                                                data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                                                                data-callback='onSubmit'
                                                                data-size='invisible'
                                                            ></div>
                                                            <div class='d-grid gap-2 col-3 mx-auto'>
                                                                <button
                                                                    id='submitEditButton{{_id}}'
                                                                    type='submit'
                                                                    class='btn btn-warning'
                                                                    style='font-family: Inter'
                                                                >
                                                                    GỬI
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/ifCond}}



                                    {{!-- Request License AdsBoard Modal --}}
                                    <div
                                        class='modal fade requestLicenseAdsBoardModal'
                                        id='requestLicenseAdsBoardModal-{{index}}'
                                        tabindex='-1'
                                        aria-labelledby='reportModalLabel'
                                        aria-hidden='true'
                                    >
                                        <div class='modal-dialog'>
                                            <div class='modal-content'>
                                                <div class='modal-header'>
                                                    <img
                                                        src='public/assets/icons/License_icon_green.svg'
                                                        style='height: 50px; width: 50px;'
                                                    />
                                                    <h5 class='modal-green-title' id='reportModalLabel'>
                                                        Yêu cầu cấp phép quảng cáo
                                                    </h5>
                                                    <button
                                                        type='button'
                                                        class='btn-close'
                                                        data-bs-dismiss='modal'
                                                        aria-label='Close'
                                                    ></button>
                                                </div>
                                                <div class='modal-body'>
                                                    <form id='requestLicenseAdsBoardForm_{{_id}}' enctype='multipart/form-data' class="requestLicenseAdsBoardForm" data-id="{{_id}}">
                                                        <div class='mb-3' id='adsBoardType'>
                                                            <div>
                                                                <label for='adsBoardType' class='form-label' style='font-family: Inter'>
                                                                    <div class='d-flex flex-row grid gap-0 column-gap-1'>
                                                                        <div class="nowrap">Loại bảng quảng cáo</div>
                                                                    </div>
                                                                </label>
    <select class='form-select reportType' id='license_adsBoardType-{{_id}}' disabled>
        <option class='mb-0 softer-text fw-nomral' disabled>
                -- Chọn loại bảng quảng cáo --
        </option>
        <option value='Trụ bảng hiflex' {{#ifCond adsBoardType "===" "Trụ bảng hiflex"}}selected{{/ifCond}}>Trụ bảng hiflex</option>
        <option value='Trụ màn hình điện tử LED' {{#ifCond adsBoardType "===" "Trụ màn hình điện tử LED"}}selected{{/ifCond}}>
            Trụ màn hình điện tử LED
        </option>
        <option value='Trụ hộp đèn' {{#ifCond adsBoardType "===" "Trụ hộp đèn"}}selected{{/ifCond}}>Trụ hộp đèn</option>
        <option value='Cổng chào' {{#ifCond adsBoardType "===" "Cổng chào"}}selected{{/ifCond}}>Cổng chào</option>
        <option value='Trụ/Cụm pano' {{#ifCond adsBoardType "===" "Trụ/Cụm pano"}}selected{{/ifCond}}>Trụ/Cụm pano</option>
        <option value='Trụ treo băng rôn ngang' {{#ifCond adsBoardType "===" "Trụ treo băng rôn ngang"}}selected{{/ifCond}}>Trụ treo băng rôn ngang</option>
        <option value='Trung tâm thương mại' {{#ifCond adsBoardType "===" "Trung tâm thương mại"}}selected{{/ifCond}}>Trung tâm thương mại</option>
        <option value='Trụ treo băng rôn dọc' {{#ifCond adsBoardType "===" "Trụ treo băng rôn dọc"}}selected{{/ifCond}}>Trụ treo băng rôn dọc</option>
    </select>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-row column-gap-3">
                                                            <div class='mb-3' id="height">
                                                                <label for='height' class='form-label' style='font-family: Inter'>Chiều cao (m)</label>
                                                                <input
                                                                    type='text'
                                                                    class='form-control fullNameReport'
                                                                    id='license_height-{{_id}}'
                                                                    value="{{size.height}}"
                                                                    disabled
                                                                />
                                                            </div>
                                                            <div class='mb-3' id="width">
                                                                <label for='width' class='form-label' style='font-family: Inter'>Chiều rộng (m)</label>
                                                                <input
                                                                    type='text'
                                                                    class='form-control fullNameReport'
                                                                    id='license_width-{{_id}}'
                                                                    value="{{size.width}}"
                                                                    disabled
                                                                />
                                                            </div>
                                                            <div class='mb-3' id="quantity">
                                                                <label for='quantity' class='form-label' style='font-family: Inter'>Số lượng</label>
                                                                <input
                                                                    type='text'
                                                                    class='form-control fullNameReport'
                                                                    id='license_quantity-{{_id}}'
                                                                    value="{{quantity}}"
                                                                    disabled
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class='mb-3' id="license_adsBoardImages">
                                                            <label class='form-label' style='font-family: Inter'>Hình ảnh bảng quảng cáo</label>
                                                            <input type="file" id="image-input-license-{{_id}}" class="form-control image-input" multiple>
                                                        </div>
                                                        <div class='mb-3' id="adsContent">
                                                            <label for='adsContent' class='form-label' style='font-family: Inter'>Nội dung quảng cáo</label>
                                                            <textarea
                                                                class='form-control fullNameReport'
                                                                id='license_adsContent-{{_id}}'
                                                                style="height: 100px;"
                                                                required
                                                            >{{adsContent}}</textarea>
                                                        </div>
                                                        <div class="d-flex justify-content-center">
                                                            <div class="d-flex flex-row column-gap-3">
                                                                <div class='mb-3' id="contractStartDate">
                                                                    <label for='contractStartDate' class='form-label' style='font-family: Inter'>Ngày bắt đầu hợp đồng</label>
                                                                    <input type='text' id='license_contractStartDate-{{index}}' class='license_contractStartDate form-control license_contractStartDate-{{_id}}' required />
                                                                </div>
                                                                <div class='mb-3' id="contractEndDate">
                                                                    <label for='contractEndDate' class='form-label' style='font-family: Inter;'>Ngày hết hạn hợp đồng</label>
                                                                    <input type='text' class='license_contractEndDate form-control license_contractEndDate-{{_id}}' id="license_contractEndDate-{{index}}" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class='mb-3' id="companyName">
                                                            <label for='companyName' class='form-label' style='font-family: Inter'>Tên công ty đặt quảng cáo</label>
                                                            <textarea
                                                                class='form-control fullNameReport'
                                                                id='license_companyName-{{_id}}'
                                                                style="height: 100px;"
                                                                required
                                                            ></textarea>
                                                        </div>
                                                        <div class='mb-3' id="companyEmail">
                                                            <label for='companyEmail' class='form-label' style='font-family: Inter;'>Email công ty</label>
                                                            <input
                                                                type='text'
                                                                class='form-control fullNameCompany'
                                                                id='license_companyEmail-{{_id}}'
                                                                required
                                                            />
                                                        </div>
                                                        <div class='mb-3' id="companyPhone">
                                                            <label for='companyPhone' class='form-label' style='font-family: Inter;'>Điện thoại công ty</label>
                                                            <input
                                                                type='text'
                                                                class='form-control fullNameCompany'
                                                                id='license_companyPhone-{{_id}}'
                                                                required
                                                            />
                                                        </div>
                                                        <div class='mb-3' id="companyAddress">
                                                            <label for='companyAddress' class='form-label' style='font-family: Inter'>Địa chỉ công ty</label>
                                                            <textarea
                                                                class='form-control fullNameReport search-box mb-1'
                                                                id='license_companyAddress-{{_id}}'
                                                                style="height: 100px;"
                                                                required
                                                            ></textarea>
                                                            <div class="map-search-box"></div>
                                                        </div>
                                                        <div class='button-container justify-content-center'>
                                                            <div
                                                                id='recaptcha'
                                                                class='g-recaptcha'
                                                                data-sitekey='6Lc_OSwpAAAAAKbiLyvfB0hp7ORpvoRcMqTXv7qb'
                                                                data-callback='onSubmit'
                                                                data-size='invisible'
                                                            ></div>
                                                            <div class='d-grid gap-2 col-3 mx-auto'>
                                                                <button
                                                                    id='submitLicenseButton'
                                                                    type='submit'
                                                                    class='btn btn-success m-1'
                                                                    style='font-family: Inter;'
                                                                >
                                                                    GỬI
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<title>Danh sách bảng quảng cáo</title>

{{> addAdsBoard}}